*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}
body {
  font-family: Sans-Serif;
 
}
a{
  text-decoration: none;
  color: #ffffff;
}
body{
  background-image: linear-gradient(to right bottom, hsl(292, 91.4%, 72.5%), hsl(345, 82.7%, 40.8%), hsl(217, 91.2%, 59.8%));
}
.container{ 
  height:100vh;
  width:100vw;
  display: grid;
  place-items: center;
}
.kalc {
  position: relative;
  height:auto;
  width:auto;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 40px #000;
  background-image: #ffffff;
}
.theme-toggler{
  position: absolute;
  top:30px;
  right:30px;
  color:pointer;
  z-index: 1;
  
}
.theme-toggler.active {
  color: #333;
}
.theme-toggler.active::before {
  background-color: #fff;
  
}
.theme-toggler::before{
  content:'';
  height: 30px;
  width:30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
}
#display{
 margin: 0 10px;
 height: 150px;
 width: auto;
 max-width: 270px;
 display: flex;
 align-items:flex-end;
 justify-content: flex-end;
 font-size: 30px;
 margin-bottom: 20px;
 overflow-x: scroll;
 
}
#display::webkit-scrollbar{
  display: block;
  height: 3px;
}
button{
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition:all 200ms ease;
}
button:hover{
  transform: scale(1.1);
  
}
#equal{
  height: 130px;
}

/* For The Light Theme*/
.kalc{
 background-color: #fff;
}
.kalc #display{
  color: #ffffff;
}
.kalc #clear{
background-color: #ffd5d8;
color: #fc4552;
}
.btn-number{
  background-color: #c3eaff;
  color: #000;
}
.btn-operator{
 background-color: #ffd0fd; 
 color: #f967f3;
}
.btn-equal{
  background-color: #adf9e7;
  color: #000;
}

/*Dark Theme*/
.kalc.dark{
  background-color: #071115;
}
.kalc.dark#display{
  color: #f0fafd;
}
.kalc.dark button#clear{
  background-image: #2d191e;
  color: #bd3740;
}
.kalc.dark button.btn-number{
background-color: #1b2f38; 
color: #f0fafb; 
}

.kalc.dark button.btn-operator{
  background-color: #2e1f39;
  color: #aa00a4;
}

.kalc.dark button.btn-equal{
  background-color: #223223;
  color: #ffffff;
}



  
  